<!-- 

<form style="border: 2px solid black; ;">
    <h1>
        {{formheading}}
    </h1><br>
<label>{{first_name}}</label>
<input type="text" [(ngModel)]="first_name_e" name="first_name_e"><BR>
<label>{{middle_name}}</label>
<input type="text" [(ngModel)]="middle_name_e" name="middle_name_e"><br>
<label>{{last_name}}</label>
<input type="text" [(ngModel)]="last_name_e" name="last_name_e"><br>
<label>{{company_name}}</label>
<input type="text" [(ngModel)]="company_name_e" name="company_name_e"><br>
<label>{{contact_name}}</label>
<input type="text" [(ngModel)]="contact_name_e" name="contact_name_e"><br>
<label>{{d_o_b}}</label>
<input type="text" [(ngModel)]="d_o_b_e" name="d_o_b_e"><br>
<label>{{age}}</label>
<input type="text" [(ngModel)]="age_e" name="age_e"><br>
<label>{{designation}}</label>
<input type="text" [(ngModel)]="designation_e" name="designation_e"><br>
<label>{{gender}}</label>
<input type="text" [(ngModel)]="gender_e" name="gender_e"><br>
<table>
    <tr>{{adress}}</tr>
    <tr>
        <td><input type="text" [(ngModel)]="flat_no" name="flat_no"></td>
        <td><input type="text" [(ngModel)]="buliding_name" name="buliding_name"></td>
        <td><input type="text" [(ngModel)]="landmark" name="landmark"></td>
        <td><input type="text" [(ngModel)]="city" name="city"></td>
        <td><input type="text" [(ngModel)]="pincode" name="pincode"></td>
        <td><input type="text" [(ngModel)]="state" name="state"></td>
        
</tr>
</table><br>
<button (click)="onsave()">save</button> 
<button (click)="onsubmit()">{{submit}}</button>
<button (click)="oncancel()">{{cancel}}</button>

</form> -->

